/* popup đăng bài */

/* Custom Scrollbar cho Modal (đẹp hơn thanh mặc định) */
.modal-dialog-scrollable .modal-body::-webkit-scrollbar {
    width: 6px;
}
.modal-dialog-scrollable .modal-body::-webkit-scrollbar-track {
    background: #f1f1f1;
}
.modal-dialog-scrollable .modal-body::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

/* Vùng upload ảnh */
.upload-area {
    background-color: #f7f8fa;
    border: 1px dashed #ced4da;
    cursor: pointer;
    transition: background 0.2s;
}
.upload-area:hover {
    background-color: #e9ecef;
    border-color: #0d6efd;
}

/* Style cho các nút chọn tiện ích */
.btn-check:checked + .btn-outline-secondary {
    background-color: #0d6efd;
    color: white;
    border-color: #0d6efd;
}

.btn-custom {
    background-color: #8FABD4;
    color: #000000;
    border-color: black;
    
}  